<nb-card>
  <nb-card-header>
    <i class="ion-ios-pricetag-outline mr-2"></i> Tarif
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-3 p-0">
        <div class="tariff-period border border-right-0">
          <div class="tariff-period-title p-5 d-flex justify-content-center border-bottom">
            <h6>Standard</h6>
          </div>
          <div class="tariff p-3 d-flex justify-content-center border-bottom">
            Nuité 80
          </div>
          <div class="tariff p-3 d-flex justify-content-center border-bottom">
            Nuité/Semaine 70
          </div>
          <div class="tariff p-3 d-flex justify-content-center border-bottom">
            Nuité/Weekend 90
          </div>
          <div class="tariff p-3 d-flex justify-content-center">
            Nuité/Event 100
          </div>
        </div>
      </div>
      <div class="col-md-3 p-0 current">
        <div class="tariff-period border border-right-0">
          <div class="tariff-period-title p-5 d-flex justify-content-center align-items-center flex-column border-bottom">
            <h6>Haute</h6>
            <span class="text-center">de 13 janv 2018 à 13 avr 2018</span>
          </div>
          <div class="tariff p-3 d-flex justify-content-center border-bottom">
            Nuité 100
          </div>
          <div class="tariff p-3 d-flex justify-content-center border-bottom">
            Nuité/Semaine 90
          </div>
          <div class="tariff p-3 d-flex justify-content-center border-bottom">
            Nuité/Weekend 110
          </div>
          <div class="tariff p-3 d-flex justify-content-center">
            Nuité/Event 120
          </div>
        </div>
      </div>
      <div class="col-md-3 p-0">
        <div class="tariff-period border border-right-0">
          <div class="tariff-period-title p-5 d-flex justify-content-center align-items-center flex-column border-bottom">
            <h6>Moyenne</h6>
            <span class="text-center">de 14 avr 2018 à 18 mai 2018</span>
          </div>
          <div class="tariff p-3 d-flex justify-content-center border-bottom">
            Nuité 90
          </div>
          <div class="tariff p-3 d-flex justify-content-center border-bottom">
            Nuité/Semaine 80
          </div>
          <div class="tariff p-3 d-flex justify-content-center border-bottom">
            Nuité/Weekend 100
          </div>
          <div class="tariff p-3 d-flex justify-content-center">
            Nuité/Event 110
          </div>
        </div>
      </div>
      <div class="col-md-3 p-0">
        <div class="tariff-period border">
          <div class="tariff-period-title p-5 d-flex justify-content-center align-items-center flex-column border-bottom">
            <h6>Basse</h6>
            <span class="text-center">de 19 mai 2018 à 29 juin 2018</span>
          </div>
          <div class="tariff p-3 d-flex justify-content-center border-bottom">
            Nuité 80
          </div>
          <div class="tariff p-3 d-flex justify-content-center border-bottom">
            Nuité/Semaine 70
          </div>
          <div class="tariff p-3 d-flex justify-content-center border-bottom">
            Nuité/Weekend 90
          </div>
          <div class="tariff p-3 d-flex justify-content-center">
            Nuité/Event 100
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>