<nb-card>
  <nb-card-header class="d-flex justify-content-between align-items-center">
    <span (click)="isCollapsed = !isCollapsed" class="d-flex cursor-pointer align-items-center">
      <i class="ion-ios-albums-outline mr-2"></i>
      Photos 
    </span>
    <a class="collapse-link" (click)="isCollapsed = !isCollapsed">
      <i *ngIf="!isCollapsed" class="nb-arrow-up"></i>
      <i *ngIf="isCollapsed" class="nb-arrow-down"></i>
    </a>
  </nb-card-header>
  <nb-card-body [ngbCollapse]="isCollapsed" class="p-0 pb-3">
    <dropzone [config]="config" [message]="'Cliquez ou faites glisser les images ici pour télécharger'" (error)="onUploadError($event)"
      (success)="onUploadSuccess($event)"></dropzone>
  </nb-card-body>
</nb-card>