nb-card {
    font-size: 12px !important;
    box-shadow: none !important;
}

yaga-div-icon {
    p {
        max-height: 20px !important;
        max-width: 80px !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }
  }