@import '../../../../../../@theme/styles/themes'; 
@include nb-install-component() {
    .border-bottom {
        border-bottom: 1px solid;
        border-color: nb-theme(separator);
    }
}

.sort {
    cursor: pointer;
}